:root {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;;
}

body {
  /* margin: 0 10px 0 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; */
}

@media (prefers-color-scheme: light) {
  

}
